@{
  Layout = "_Layout";
}

@using PierresShop.Models;

<h1>Welcome to Pierre's Shop!</h1>


<hr>
@if (User.Identity.IsAuthenticated)
{
  <div class="row" style="padding-top: 20px;">
<div class="col-6">
    <h4>Flavors</h4>

    @if (@ViewBag.Flavor.Count == 0)
    {
      <h3>No flavors have been added yet!</h3>
    } 
    <ul>
      @foreach(Flavor flavor in ViewBag.Flavor)
      {
        <p>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId })</p>
      }
    </ul>  
  </div>


<div class="col-6">
    <h4>Treats</h4>

    @if (@ViewBag.Treat.Count == 0)
    {
      <h3>No treats have been added yet!</h3>
    } 

    <ul>
      @foreach (Treat treat in ViewBag.Treat)
      {
        <p>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId })</p>
      } 
    </ul>  
  </div>
</div>
}
else 
{
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your treats and flavors.</p>
}

<p>@Html.ActionLink("Log out", "Index", "Account")</p>
<hr>